@{
    ViewBag.Title = "Choices";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<div class="form-group">
    @Html.Label("Select a Term", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Term", ViewBag.YearTermId as SelectList, new { id = "Term", @class = "form-control" })
    </div>
</div>
<br />
<br />
<br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="Report">

</div>
@section Scripts{
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script type="text/javascript">

    $(document).ready(function () {
        $("#Term").change(function () {
            var TermID =  $("#Term").val();
               $("#Report").load('@(Url.Action("GetChoices", "Choice",null, Request.Url.Scheme))?TermID=' + TermID);
        });
        var TermID = $("#Term").val();
        $("#Report").load('@(Url.Action("GetChoices", "Choice",null, Request.Url.Scheme))?TermID=' + TermID);
    });

</script>  }
